body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex: 1;
}

.jumbotron {
  flex: 1;
  display: flex;
}

.left-side {
  flex: 1;
  padding: 10px;
  background-color: #f8f9fa;
  height: 700px;
  width: 500px;
  margin-right: 10px;
}

.right-side {
  flex: 1;
  padding: 10px;
  background-color: #f8f9fa;
  height: 700px;
  width: 500px;
  margin-left: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  transition: 2s ease;
  cursor: progress;
}
.wrapper:hover {
  transform: scale(1.2);
}
.text {
  color: black;
  font-weight: 800;
}
.dot {
  background: black;
  height: 0.65em;
  width: 0.65em;
  border-radius: 50%;
  animation: move 0.6s ease infinite;
}
@keyframes move {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}
